@model Turn
@using System.Threading.Tasks
@using TurnTrackerAspNetCore.Middleware
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "Edit Turn";

    string cookie;
    if (!HttpContextAccessor.HttpContext.Request.Cookies.TryGetValue(TimezoneOffsetReader.CookieKey, out cookie))
    {
        cookie = "0";
    }
    int minutes;
    int.TryParse(cookie, out minutes);
    var timezoneOffset = TimeSpan.FromMinutes(-minutes);
    ViewBag.TimezoneOffset = timezoneOffset;
}
<div>
    <h1>Edit Turn</h1>
    <form method="post" asp-action="Edit" asp-antiforgery="true" class="form-horizontal">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="Taken" class="control-label col-sm-1"></label>
            <div class="col-sm-4">
                <div class="input-group date datetimepicker">
                    <input type="text" name="Taken" class="form-control" value="@Model.Taken.ToOffset(timezoneOffset).ToString("G")"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            @*<div class="col-sm-7">
                <span class="text-danger" asp-validation-for="Taken"></span>
            </div>*@
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1">
                <input class="btn btn-primary" type="submit" value="Save" />
                <a class="btn btn-danger" asp-controller="Task" asp-action="Details" asp-route-id="@Model.TaskId">Cancel</a>
            </div>
        </div>
    </form>
</div>

@section footer {
    <span class="timezone">UTC Offset: @timezoneOffset</span>
}