@inject TurnTrackerAspNetCore.Services.ISiteSettings Settings
<p>A test site for @Settings.Settings.General.Name</p>
<p>Source can be found on <a href="https://github.com/joshstrohminger/TurnTrackerAspNetCore" target="_blank" rel="noopener noreferrer">GitHub</a></p>