@if (User.Identity.IsAuthenticated)
{
    <form class="navbar-form navbar-right" method="post" asp-antiforgery="true" asp-controller="Account" asp-action="Logout">
        <input class="btn btn-danger" type="submit" value="Logout"/>
    </form>
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Profile"><span class="glyphicon glyphicon-user"></span> @User.Identity.Name</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-route-returnurl="@($"{Context.Request.Path}{Context.Request.QueryString}")" asp-controller="Account" asp-action="Login">Login</a></li>
        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
    </ul>
}