@model EditTaskViewModel
@{ViewBag.Title = "Create";}
<div>
    <h1>Create Task</h1>
    <form method="post" asp-action="Create" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="Owner"/>
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name"/>
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="TeamBased"></label>
            <input asp-for="TeamBased" />
            <span asp-validation-for="TeamBased"></span>
        </div>
        <div>
            <label asp-for="Period"></label>
            <input asp-for="Period" />
            <span asp-validation-for="Period"></span>
        </div>
        <div>
            <label asp-for="Unit"></label>
            <select asp-for="Unit" asp-items="@Html.GetEnumSelectList(typeof(PeriodUnit))"></select>
            <span asp-validation-for="Unit"></span>
        </div>
        <div>
            <input class="btn btn-primary" type="submit" value="Save"/>
            <a class="btn btn-danger" asp-action="Index">Cancel</a>
        </div>
    </form>
</div>