@model HomePageViewModel
<!DOCTYPE html>
<html>
<head>
    <title>Turn Tracker</title>
</head>
<body>
<table>
    @foreach (var task in Model.Tasks)
    {
        <tr>
            <td>@task.Id</td>
            <td>@task.Name</td>
            <td>@task.TeamBased</td>
            <td><a asp-action="Details" asp-route-id="@task.Id">Details</a></td>
        </tr>
    }
</table>
<p>
    <a asp-action="Create">Create</a>
</p>
</body>
</html>